<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Reading Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="col-lg-8 mx-auto p-4 py-md-5">

    <header th:insert="blocks/header :: header"></header>

    <main>
        <h1>Reading</h1>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/reading" class="nav-link px-2 link-secondary">Reading</a></li>
            <li><a href="/for-later" class="nav-link px-2 link-dark">For later</a></li>
            <li><a href="/done" class="nav-link px-2 link-dark">Done</a></li>
        </ul>

        <div class="container mt-5 mb-5">
            <h1>Edit book</h1>
            <div th:each="el : ${books}">
                <form method="post">
                    <input type="text" th:value="${el.title}" name="title" placeholder="write name book" class="form-control"><br>
                    <input type="text" th:value="${el.subtitle}" name="subtitle" placeholder="write subtitle" class="form-control"><br>
                    <input type="text" th:value="${el.authors.name_author}" name="authors" placeholder="write author" class="form-control"><br>
                    <input type="text" th:value="${el.status.name_status}" name="status" placeholder="write status" class="form-control"><br>
                    <input type="text" th:value="${el.page}" name="page" placeholder="write anons" class="form-control"><br>
                    <textarea name="notes" placeholder="write text" class="form-control" th:text="${el.notes}" /><br>
                    <button type="submit" class="btn btn-success">Edit</button>
                </form>
            </div>
        </div>

    </main>

    <div th:insert="blocks/footer :: footer"></div>

</div>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>




</body>
</html>